
@font-face {
    font-family: "Brandon Grotesque Regular";
    src: url(fonts/Brandon_reg.otf);
}

@font-face {
    font-family: "Brandon Grotesque Black";
    src: url(fonts/Brandon_blk.otf);
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-Regular.ttf);
}



body{
    background: #333333;
    transition: 0.3s all;
        
    /* Text */

    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: 390;
    font-size: 0.9rem;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}

footer{
	height: 150px;
}

.blurb {
    padding: 15rem 0; 
}

.separator{
    line-height: 1em;
    border-right: #F9BD57 2px solid;
    
    /* Text */

    font-family: "Brandon Grotesque Black", sans-serif;
    font-size: 4rem;
}

.jm-sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 7em; 
}

.background_alt {
    background-color: rgb(255, 255, 255);
    color: #000029;
    transition: 0.3s all;
}

.background {
    background-color: #333333;
    color: #fff;
    transition: 0.3s all;
}

.position{
    /* Text */
    font-family: "Brandon Grotesque Regular", sans-serif;
    letter-spacing: 0.1em;
}

.imagescroll{
    align-self: flex-end;
    width: 100%;
    margin: 2em;
    padding: 2em;
}

.projectdescription-position{
    margin: 2em;
        
    /* Text */
    
    font-family: "Brandon Grotesque Regular", sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
}

.projectdescription-text{
    margin: 2em;
}

.softwarelink{
    width: 30px; 
    height: 30px; 
    margin: 1em;
    display: inline-block;
}

.hyperlink_out{
    font: "Open Sans-Bold";
    color: #fff;
    font-style: italic;
    font-weight: 390;
    font-size: 0.9rem;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}

.btn{
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 390;
    font-size: 0.9rem;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}