
@font-face {
    font-family: "Brandon Grotesque Regular";
    src: url(fonts/Brandon_reg.otf);
}

@font-face {
    font-family: "Brandon Grotesque Black";
    src: url(fonts/Brandon_blk.otf);
}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-Regular.ttf);
}

.faux-logo-portfolio{
    display: inline-block;
    margin-top: 2rem;
    margin-left: 1rem;
    padding-right: 1.5rem;
    border-right: #F9BD57 2px solid;

    /* Text */

    font-family: Brandon Grotesque Black;
    font-size: 3rem;
    line-height: 1em;
}

.faux-logo-name{
    display: inline-block;
    margin-top: 2rem;
    margin-left: 1rem;
    padding-right: 1.5rem;

    /* Text */

    font-family: Brandon Grotesque Black;
    font-size: 1.6rem;
    line-height: 1em;
}

.faux-logo-position{
    display: inline-block;
    margin-top: 2rem;
    margin-left: 1rem;
    padding-right: 1.5rem;

    /* Text */

    font-family: Brandon Grotesque Regular;
    font-size: 1rem;
    line-height: 1em;
}

body{
    background: #333333;
        
    /* Text */

    font-family: Open Sans, sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: 390;
    font-size: 0.9rem;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}

footer{
	height: 150px;
}

.separator{
    padding: 0.5em;
    line-height: 1em;
    margin: inline-block;
    
    /* Text */

    font-family: Brandon Grotesque Black, sans-serif;
    font-size: 4rem;
}

.separator-blurb{
    margin: 2em;
    
    /* Text */

}

.projectname{
    margin: 2em;
        
    /* Text */
    
    font-family: Brandon Grotesque Regular, sans-serif;
    font-size: 2rem;
    line-height: 1.5em;
}

.imagescroll{
    align-self: flex-end;
    width: 100%;
    margin: 2em;
    padding: 2em;
}

.projectdescription-position{
    margin: 2em;
        
    /* Text */
    
    font-family: Brandon Grotesque Regular, sans-serif;
    font-size: 1rem;
    line-height: 1.5em;
}

.projectdescription-text{
    margin: 2em;
}

.softwarelink{
    width: 30px; 
    height: 30px; 
    margin: 1em;
    display: inline-block;
}

.btn{
    font-family: Open Sans, sans-serif;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 390;
    font-size: 0.9rem;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}